
*{
    margin:0; padding:0;
    -webkit-text-size-adjust:none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
  
html, body{
    width:100%;
    height:100%;
    font-size:62.5%;
    color:var(--main-black);
    overflow:hidden;
    touch-action:none;
    /* letter-spacing: -0.25rem; */
}
  
/* 폰트 초기화 */
html,
body,
input,
textarea,
select,
button,
table {
    font-family: "Poppins", "NotoSansCJK", sans-serif;
    outline: none;
    font-weight: 400;
}
  
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, textarea, input, select, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, audio, canvas, video {margin:0; padding:0; line-height:normal; }
  h1,h2,h3,h4,h5,h6,th{font-size:100%; font-weight: 500;}
  table {border-collapse:collapse; border-spacing:0; border:0; width:100%;}
  ol, ul {list-style:none;}
  abbr[title] {border-bottom: 1px dotted; }
  img, fieldset {border:0;}
  img{vertical-align:middle; width: 100%; display: block;}
  hr{-moz-box-sizing: content-box; box-sizing: content-box; height: 0;}
  legend{width:0; height:0; line-height:0; position:absolute; top:-10000px; left:-10000px; overflow:hidden; visibility:hidden;}
  object {outline:none;}
  mark {background: #ff0; color: #000;}
  code, kbd, pre, samp {font-family:inherit; font-size: 1em;}
  pre {white-space: pre-wrap;}
  q {quotes: "\201C" "\201D" "\2018" "\2019";}
  small {font-size: 80%;}
  sub,
  sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
  sup {top: -0.5em;}
  sub {bottom: -0.25em;}
  svg:not(:root) {overflow: hidden;}
  figure {margin: 0;}
  fieldset {padding: 0; border: 0; margin: 0;}
  legend {border: 0; padding: 0;}
  li {list-style:none;}
  
  button, input[type=text],input[type=password], select, textarea {background:none; border:none; border-radius:0; vertical-align:middle; }
  textarea {border:0 none; resize: none;}
  input:-moz-placeholder,textarea:-moz-placeholder {color: rgba(20, 26, 31, 0.2) !important; font-weight:400;}
  input::-moz-placeholder,textarea::-moz-placeholder {color: rgba(20, 26, 31, 0.2) !important; font-weight:400;}
  input:-ms-input-placeholder,textarea:-ms-input-placeholder {color: rgba(20, 26, 31, 0.2) !important; font-weight:400;}
  input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color: rgba(20, 26, 31, 0.2) !important; font-weight:400;}
  
  a{color:var(--main-black);text-decoration:none;}
  a:link, a:visited, a:active{text-decoration: none;}
  a:hover{color:var(--main-black);}

  button{color: var(--main-black); font-size: 1.4rem;}
  input:focus{outline:none;}
  
  .clear{ clear: both; height: 0px; line-height: 0px; }
  .clearfix:before,
  .clearfix:after { display: block; content: ""; line-height: 0;}
  .clearfix:after { clear: both; }
  
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }